.gameDiv {
    box-sizing: border-box;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 30px;
    padding-top: 6%;
    padding-bottom: 6%;
    -webkit-box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.75);
    background-color: rgba(197, 232, 243, 0.6);
}

.infoGame {
    width: 60%;
    margin-left: 15%;
}

.imgDiv {
    display: inline-block;
}

.infoDiv {
    margin-left: 8%;
    display: inline-block;
}

.buttonDiv {
    top: 0;
    margin-left: 8%;
    min-height: 100%;
    display: inline-block;
}